.dark-mode{
    background-color: #262626!important;
    color:#ffffff!important
}

.dark-code{
    background-color: #565656;
    color: #ffffff;
}

.exercise{
    margin: 1.5rem 0;
    font-size: 18px;
}